.productOptions {
  width: 340px;
  font-family: 'Roboto', sans-serif;
  color: #222;
  font-size: 16px;
  font-weight: 400;
}

a {
  color: #347cb1;
  text-decoration: none;
}

.brand-wrapper {
  font-weight: 700;
}

.title-wrapper {
  font-family: Domine, serif;
  font-size: 28px;
  color: #2e2e2e;
  margin-bottom: 10px;
}

.itemId-wrapper {
  font-family: 'Roboto Condensed', sans-serif;
  float: right;
  color: #2e2e2e;
}

.rating-wrapper {
  color: #2e2e2e;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
}

.rating-wrapper a {
  color: #2e2e2e;
}

.rating-wrapper a:hover {
  text-decoration: underline;
}

.stars {
  display: inline-block;
  margin-right: 10px;
}

.stars i {
  color: #bf5b00;
}

.price-wrapper {
  font-family: Domine, serif;
  font-size: 20px;
  color: #2e2e2e;
  margin-bottom: 10px;
}

.freeShipping-wrapper {
  margin: 27px 0;
}

.color {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.selected {
  border: 2px solid black;
}

.sizes-wrapper {
  display: inline-block;
  width: 130px;
  margin-top: 10px;
}

.sizes-wrapper a {
  float: right;
}

.size-select-wrapper {
  margin-bottom: 10px;
}

#size-select {
  width: 100%;
}

.quantity-wrapper {
  display: inline-block;
  float: right;
}

.quantity-wrapper button {
  border-radius: 10px;
  padding: 3px 5px;
}

.quantity-label {
  margin-bottom: 6px;
}

#quantity-input {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  padding: 5px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
}

.shippingRestriction-wrapper {
  margin-top: 20px;
  border: 1px solid #bf5b00;
  padding: 10px;
  background-color: #FFF8DB;
}

hr {
  margin: 24px 0;
}

.shippingOptions-wrapper {
  margin: 15px 0;
}

.radio-wrapper {
  margin-bottom: 10px;
  font-weight: bold;
}

.addTo-wrapper button {
  width: 100%;
  font-size: 16px;
}

#add-to-cart {
  color: #ffffff;
  background-color: #426C90;
  border-color: #426C90;
  padding: 16px 32px;
}

#add-to-cart:hover {
  background-color: #2B455C;
  border-color: #2B455C;
  cursor: pointer;
}

#add-to-wish-list {
  margin-top: 10px;
  padding: 12px 16px;
  color: #2e2e2e;
  background-color: #ffffff;
  border-color: #c5c5c5;
}

#add-to-wish-list:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.returnPolicy-wrapper {
  text-align: center;
  padding: 20px 0;
}