#product-options .productOptions {
  width: 340px;
  font-family: 'Roboto', sans-serif;
  color: #222;
  font-size: 16px;
  font-weight: 400;
}

#product-options a {
  color: #347cb1;
  text-decoration: none;
}

#product-options .brand-wrapper {
  font-weight: 700;
}

#product-options .title-wrapper {
  font-family: Domine, serif;
  font-size: 28px;
  color: #2e2e2e;
  margin-bottom: 10px;
}

#product-options .itemId-wrapper {
  font-family: 'Roboto Condensed', sans-serif;
  float: right;
  color: #2e2e2e;
}

#product-options .rating-wrapper {
  color: #2e2e2e;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
}

#product-options .rating-wrapper a {
  color: #2e2e2e;
}

#product-options .rating-wrapper a:hover {
  text-decoration: underline;
}

#product-options .stars {
  display: inline-block;
  margin-right: 10px;
}

#product-options .stars i {
  color: #bf5b00;
}

#product-options .price-wrapper {
  font-family: Domine, serif;
  font-size: 20px;
  color: #2e2e2e;
  margin-bottom: 10px;
}

#product-options .freeShipping-wrapper {
  margin: 27px 0;
}

#product-options .color {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

#product-options .selected {
  border: 2px solid black;
}

#product-options .sizes-wrapper {
  display: inline-block;
  width: 130px;
  margin-top: 10px;
}

#product-options .sizes-wrapper a {
  float: right;
}

#product-options .size-select-wrapper {
  margin-bottom: 10px;
}

#product-options #size-select {
  width: 100%;
}

#product-options .quantity-wrapper {
  display: inline-block;
  float: right;
}

#product-options .quantity-wrapper button {
  border-radius: 10px;
  padding: 3px 5px;
}

#product-options .quantity-label {
  margin-bottom: 6px;
}

#product-options #quantity-input {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  padding: 5px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
}

#product-options .shippingRestriction-wrapper {
  margin-top: 20px;
  border: 1px solid #bf5b00;
  padding: 10px;
  background-color: #FFF8DB;
}

#product-options hr {
  margin: 24px 0;
}

#product-options .shippingOptions-wrapper {
  margin: 15px 0;
}

#product-options .radio-wrapper {
  margin-bottom: 10px;
  font-weight: bold;
}

#product-options .addTo-wrapper button {
  width: 100%;
  font-size: 16px;
}

#product-options #add-to-cart {
  color: #ffffff;
  background-color: #426C90;
  border-color: #426C90;
  padding: 16px 32px;
}

#product-options #add-to-cart:hover {
  background-color: #2B455C;
  border-color: #2B455C;
  cursor: pointer;
}

#product-options #add-to-wish-list {
  margin-top: 10px;
  padding: 12px 16px;
  color: #2e2e2e;
  background-color: #ffffff;
  border-color: #c5c5c5;
}

#product-options #add-to-wish-list:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

#product-options .returnPolicy-wrapper {
  text-align: center;
  padding: 20px 0;
}